
// Utility Colors
$blue: #2B7BD6;
$green: #29B36A;
$magenta: #009D9D;
$red: #CF3E4C;
$yellow: #FF9F00;
$purple: #9700C8;
$black: #3e4149;
$main-text: $black;
$grey: #686C73;
$secondary-text: $grey;
$dark-smoke: #CDCACE;
$smoke: #EBEAED;
$dark-snow: #F3F2F4;
$snow: #F7F7F8;

//Neutral Colors
$white: #FFF;
$pure-black: #000;

//===========FONTS==========
$muli-font: 'Muli';
$system-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue";

// Font weight
$regular: 400;
$semi-bold: 600;
$bold: 700;


//Font Sizes
$fontSize-xxl: 1.5rem;
$fontSize-xl: 1.25rem;
$fontSize-lg: 1rem;
$fontSize-r: .875rem;
$fontSize-s: 0.8rem;